In [1]:
a = "I am a rider"

In [2]:
b = "hello may name is kalpesh"

In [3]:
x = b.capitalize()

In [4]:
print(x)

Hello may name is kalpesh

In [5]:
c="WHAT IS YOUR NAME ?"

In [6]:
y= c.casefold()

In [7]:
print(y)

what is your name ?

In [8]:
y = c.center()

TypeError: center expected at least 1 argument, got 0

In [9]:
w=c.center()

TypeError: center expected at least 1 argument, got 0

In [10]:
w = c.center(20)

In [11]:
print(w)

WHAT IS YOUR NAME ?

In [12]:
d="kalpesh"

In [13]:
w=d.center(20)

In [14]:
print(w)

      kalpesh

In [15]:
w=c.count("YOUR")

In [16]:
print(w)

1

In [17]:
w=c.encode()

In [18]:
print(w)

b'WHAT IS YOUR NAME ?'

In [19]:
w=b.encode()

In [20]:
print(b)

hello may name is kalpesh

In [21]:
w=c.endswith("kalpesh")

In [22]:
print(w)

False

In [23]:
w=c.endswith("?")

In [24]:
print(w)

True

# Assignment 2 Try 5 different functions of the list object in python

In [25]:
myList = ["bajaj", "tata", "maruti", "honda", "hero"]

In [26]:
myList

['bajaj', 'tata', 'maruti', 'honda', 'hero']

In [27]:
myList.append("BMW")

In [29]:
myList

['bajaj', 'tata', 'maruti', 'honda', 'hero', 'BMW']

In [30]:
myList.count("maruti")

1

In [33]:
myList.insert(2,"nexon")

In [34]:
myList

['bajaj', 'tata', 'nexon', 'maruti', 'honda', 'hero', 'BMW']

In [35]:
x = myList.copy()

In [36]:
x

['bajaj', 'tata', 'nexon', 'maruti', 'honda', 'hero', 'BMW']

In [37]:
myList.clear()

In [38]:
myList

[]

# Assignment 3 Experiment with at least 5 default function of dictonary

In [42]:
car = {"brand":"ford","model":"Mustang","year":1964}

In [43]:
car

{'brand': 'ford', 'model': 'Mustang', 'year': 1964}

In [44]:
x=car.get("model")

In [45]:
print(x)

Mustang

In [46]:
x= car.items()

In [47]:
print(x)

dict_items([('brand', 'ford'), ('model', 'Mustang'), ('year', 1964)])

In [48]:
x=car.keys()

In [49]:
print(x)

dict_keys(['brand', 'model', 'year'])

In [50]:
car.pop("model")

'Mustang'

In [51]:
car

{'brand': 'ford', 'year': 1964}

In [52]:
car.update({"model":"Mustang","Color":"White"})

In [53]:
car

{'brand': 'ford', 'year': 1964, 'model': 'Mustang', 'Color': 'White'}

# Day 3 Assignment
Question 1

Use IF ELSE and ELIF to write a program in python for your report card

In [15]:
Per = 65

In [16]:
if Per > 70 :
    print("First Class with Distinction.")
elif Per > 60 and Per < 70:
    print("First class")
elif Per > 50 and Per < 60:
    print("Higher Second class")
elif Per > 35 and Per < 50:
    print("Pass Class")
else:
    print("Candidate Failed")

First class

Question 2 Use For Loop in Python to print Prime Number in between 1 to 1000.

In [18]:
for i in range(1,1000):
  if i>1:
    for j in range(2,i):
        if(i % j==0):
            break
    else:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

Question 3 Write a program in python for printing the tables from 1,10 using Nested For Loop

In [30]:
for i in range(1,11):
    print(i,end="\t")
print()
print("--------------------------------------------------------------------------------")

for j in range(2,11):
    for k in range(1,11):
        print(j*k,end="\t")
    print("\n")

1	2	3	4	5	6	7	8	9	10
--------------------------------------------------------------------------------
2	4	6	8	10	12	14	16	18	20

3	6	9	12	15	18	21	24	27	30

4	8	12	16	20	24	28	32	36	40

5	10	15	20	25	30	35	40	45	50

6	12	18	24	30	36	42	48	54	60

7	14	21	28	35	42	49	56	63	70

8	16	24	32	40	48	56	64	72	80

9	18	27	36	45	54	63	72	81	90

10	20	30	40	50	60	70	80	90	100

Question 4 Write a program in python to print X prime number using while loop starting from 0,and take the input of x from user

In [3]:
num = int(input("Enter a number: "))

for i in range(1,num):
  if i>1:
    for j in range(2,i):
        if(i % j==0):
            break
    else:
        print(i)

Enter a number: 50
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47